@import url('../../styles_common/style.css');

/*@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,500;0,600;1,500;1,600&family=Playfair+Display:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --color-primary-blue: #235ad1;
    --color-primary-pink: #FF69B4;
    --color-text: #06152B;
    --color-button-dropdown: #03A89E;
}

body {
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.64px;
    line-height: 16px;
}

/* Sidebar/Navbar */
.nav-pills li a:hover {
    background-color: rgb(231, 222, 222);
}

#link_selected {
    background-color: rgb(248, 238, 238)
}

#messages-number {
    color: var(--color-primary-pink);
}

.custom-btn-absolute {
    bottom: 15%;
    left: 17%;
    width: 65%;
    height: 15%;
    font-size: smaller;
    color: white;
    background-color: var(--color-primary-pink);
    border-radius: 10px;
    border: none;
}

/*Header*/
#header-btn_1,
#header-btn_2 {
    background-color: var(--color-primary-blue);
}

/* Start Sales Card (chart blocks) */
#chart-block_1,
#chart-block_2 {
    width: 364px;
    height: 200px;
}

#img-wave_1,
#img-wave_2 {
    bottom: 10px;
}

#chart-icon_1,
#chart-icon_2 {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

/* Start Top Selling BLOCK */
#top_selling_block {
    width: 754px;
    height: 475px;
}

i.fa-award {
    color: var(--color-primary-pink);
}

.custom-icon {
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    flex-grow: 0;
    /* background: #d9d8ee;*/
}

.selling-block__amount {
    color: var(--color-button-dropdown);
}

tbody a {
    color: var(--color-primary-blue);
    text-decoration: none;
}

/* Can't work at the same time attributes bg-image and bg-color, why? */
.card-img-inside-1 {
    /*    background: var(--color-primary-pink), url(./img/Headphones.svg);*/

    background-image: url('./img/Headphones.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-2 {
    background-blend-mode: multiply;
    background-image: url('./img/Airdot.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;


    background: #99B2C6;
    opacity: 0.2;
}

.card-img-inside-3 {
    background-image: url('./img/Shoes.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-4 {
    background-image: url('./img/Kids_Tshirts.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: #99B2C6;
    opacity: 0.2;
    */
}

.card-img-inside-5 {
    background-image: url('./img/Smart_watch.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-6 {
    background-image: url('./img/Girls_top.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: #99B2C6;
    opacity: 0.2;
    */
}

/* Start Progress-bar block*/
.custom-analytics_block {
    width: 430px;
    height: 344px;
}

.custom-progress-bar_index {
    width: 30px;
}

#progress__first-color-1,
#progress__first-color-2,
#progress__first-color-3 {
    background-color: var(--color-primary-pink);
}

#progress__second-color-1,
#progress__second-color-2,
#progress__second-color-3,
#progress__second-color-4 {
    background-color: var(--color-primary-blue);
}

/* Doughnut CHart */

#analytics_block {
    width: 430px;
    height: 340px;
}