@import url('styles/style.css');


:root {
    --color-primary-blue: #235ad1;
    --color-primary-pink: #FF69B4;
    --color-text: #06152B;
    --color-button-dropdown: #03A89E;

}

/*.col {
    border: 1px solid red;
}*/

.nav-pills li a:hover {
    background-color: rgb(231, 222, 222);
}

#link_selected {
    background-color: rgb(248, 238, 238)
}

#number {
    color: var(--color-primary-pink);
}

#btn-absolute {
    bottom: 15%;
    left: 18%;
    width: 65%;
    height: 15%;
    color: white;
    background-color: var(--color-primary-pink);
    border-radius: 10px;
    border: none;
}

#sales_block {
    width: 364px;
    height: 200px;
}

#img_wave {
    bottom: 10px;
}

#card-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
    /* background: #d9d8ee;*/
}

/* Start Top Selling Products */
i.fa-award {
    color: var(--color-primary-pink);
}

#top_selling_block {
    width: 780px;
    height: 487px;
}

#card-icon_2 {
    width: 37px;
    height: 37px;
    flex-shrink: 0;
    flex-grow: 0;
    /* background: #d9d8ee;*/
}

.selling-block__amount {
    color: var(--color-button-dropdown);
}

tbody a {
    color: var(--color-primary-blue);
    text-decoration: none;
}

/* Can't work at the same time attributes bg-image and bg-color, why? */

.card-img-inside-1 {
    background-image: url('../../img/Headphones.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-2 {
    background-image: url('../../img/Airdot.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: #99B2C6;
    opacity: 0.2;
    */
}

.card-img-inside-3 {
    background-image: url('../../img/Shoes.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-4 {
    background-image: url('../../img/Kids_Tshirts.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: #99B2C6;
    opacity: 0.2;
    */
}

.card-img-inside-5 {
    background-image: url('../../img/Smart_watch.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: var(--color-primary-pink);
    opacity: 0.15;
    */
}

.card-img-inside-6 {
    background-image: url('../../img/Girls_top.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    /*
    background: #99B2C6;
    opacity: 0.2;
    */
}

/* Start Progress-bar block*/

#analytics_block {
    width: 430px;
    height: 300px;
}

#progress__first-color {
    background-color: var(--color-primary-pink);
}

#progress__second-color {
    background-color: var(--color-primary-blue);
}

#progress-bar_index {
    width: 30px;
}