@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('/styles/navigation.css');
/*Подгружаем стили панели навигации*/

:root {
    --background-color: #F1F4FA;
    /*Цвет фона. Тёмная версия: #1A202C*/
    --text-color: #06152B;
    /*Цвет текста. Тёмная версия: #FFFFFF*/
    --nav-panel-bg-color: #FFFFFF;
    /*Цвет панели. Тёмная тема: #364153*/
    --dashboard-margin-vertical: 2vw;
}

.dashboard-container {
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
}

.dashboard-panel {
    margin: 2vw;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 27.0743px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header-dates {
    margin-left: auto;

}

.header-dates input {
    font-size: 15px;
    width: 119px;
    height: 42px;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    margin-left: 16px;
}

.dashboard-top-card {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.dashboard-card {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 2vw;
    padding-right: 1vw;
    max-width: 20vw;
    width: 20%;
    height: 123px;
    border-radius: 11px;
    background-color: var(--nav-panel-bg-color);
}

.dashboard-card h2 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.dashboard-card-text {
    opacity: 70%;
    margin-left: 24px;
}

.dashboard-card-name {
    font-weight: 400;
    font-size: 15px;
}

.dashboard-main {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 431px 354px;
    gap: 2vw;
    margin-top: 2vw;
}

.dashboard-main a {
    text-decoration: none;
}

.dash-visitors {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--nav-panel-bg-color);
}

.dashboard-main h3 {
    font-weight: 700;
    font-size: 24px;
    Opacity: 70%;
    margin: 0px;
}

.dash-visitors img {
    width: 100%;
    height: 100%;
}

.dash-status {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--nav-panel-bg-color);
}

.dash-services {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--nav-panel-bg-color);
    padding: 26px 26px 13px;
}

.dash-top-serv {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--nav-panel-bg-color);
}

table {
    width: 100%;
    font-size: 13.35px;
    font-weight: 400;
}

.table-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

th,
td {
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

th img {
    cursor: pointer;
}

.td-order {
    text-align: center;
    color: #3A36DB;
    background-color: rgba(58, 54, 219, 0.2);
    border-radius: 8px;
}

.td-amount {
    text-align: right;
}