@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('../../../styles/navigation.css');
@import url('ring-diagr.css');
/*fСтили кольцевой диаграммы. Взято отсюда https://techrocks.ru/2022/01/11/pie-chart-in-pure-css-and-html/*/
@import url('chart-visitors.css');
/*Стили диаграммы Visitors*/

/*Подгружаем стили панели навигации*/

:root {
    --background-color: #F1F4FA;
    /*Цвет фона. Тёмная версия: #1A202C*/
    --text-color: #06152B;
    /*Цвет текста. Тёмная версия: #FFFFFF*/
    --nav-panel-bg-color: #FFFFFF;
    /*Цвет панели. Тёмная тема: #364153*/
    --dashboard-margin-vertical: 2vw;
}

.dashboard-container {
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
}

.dashboard-panel {
    margin: 2vw;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 27.0743px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header-dates {
    margin-left: auto;

}

.header-dates input {
    font-size: 15px;
    width: 119px;
    height: 42px;
    border: none;
    border-radius: 5px;
    padding-left: 18px;
    margin-left: 16px;
}

.dashboard-top-card {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.dashboard-card {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    padding-left: 2vw;
    padding-right: 1vw;
    max-width: 20vw;
    width: 20%;
    height: 123px;
    border-radius: 11px;
    background-color: var(--nav-panel-bg-color);
}

.dashboard-card h2 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.dashboard-card-text {
    opacity: 70%;
    margin-left: 24px;
}

.dashboard-card-name {
    font-weight: 400;
    font-size: 15px;
}

.dashboard-main {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 431px 1fr;
    gap: 2vw;
    margin-top: 2vw;
}

.dashboard-main a {
    text-decoration: none;
}

/*1-я ячейка грида*/
.dash-visitors {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--nav-panel-bg-color);
    border-radius: 11px;
}

.dashboard-main h3 {
    font-weight: 700;
    font-size: 24px;
    Opacity: 70%;
    margin: 0px;
}

.dash-visitors {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 13px;
}


/*-------------------------------
Блок стилей кольцевой диаграммы*/
/*------------------------------------------*/
.ring-diagr {
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 230px;
}


.z1 {
    position: relative;
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
}

.z2 {
    position: relative;
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
}

.z3 {
    position: relative;
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
}

.z4 {
    position: relative;
    z-index: 4;
    grid-column: 1/2;
    grid-row: 1/2;
}

.ring-diag-caption-percent {
    text-align: center;
    font-size: 30px;
}

.ring-diag-caption-info {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    opacity: 70%;
}

/*2-я ячейка грида*/
.dash-status {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--nav-panel-bg-color);
    border-radius: 11px;
    padding: 5% 5% 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

.dash-ring-diagr-legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dash-ring-diagr-legend-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 1.5%;
}

.dash-ring-diagr-legend-active {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin: 0px 3%;
    background-color: #3A36DB;
}

.dash-ring-diagr-legend-completed {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin: 0px 3%;
    background-color: #03A89E;
}

.dash-ring-diagr-legend-cancelled {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin: 0px 3%;
    background-color: #FF69B4;
}

/*3-я ячейка грида*/
.dash-services {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--nav-panel-bg-color);
    border-radius: 11px;
    padding: 26px 26px 13px;
}

table {
    width: 100%;
    font-size: 13.35px;
    font-weight: 400;
    border-collapse: collapse;
}

.dashboard-block-caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

tr {
    height: 57px;
}

th,
td {
    font-weight: 400;
    text-align: left;
    padding-left: 1vw;
}

td {
    vertical-align: middle;
}

th {
    white-space: nowrap;
    border-bottom: 1px solid rgba(6, 21, 43, 5%);
}

th img {
    cursor: pointer;
}

.td-border-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.td-border-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.td-service {
    display: flex;
    align-items: center;
    height: 58px;
}

.td-service img {
    margin-right: 10px;
}

.td-order {
    text-align: center;
    color: #3A36DB;
    text-align: center;
}

.td-order-box {
    background-color: rgba(58, 54, 219, 0.2);
    border-radius: 8px;
    width: 24px;
    padding: 7px 20px;
    margin: 10px auto;
}

.td-amount {
    text-align: right;
    padding-right: 1vw;
}

/*4-я ячейка грида*/
.dash-top-serv {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--nav-panel-bg-color);
    border-radius: 11px;
    padding: 5% 5% 2.5%;
    display: flex;
    flex-direction: column;
}

.dash-top-serv-contaner {
    /*border: solid 1px rgb(226, 10, 10);*/
    display: flex;
    flex-direction: column;
}

.dash-top-serv-card {
    /*border: solid 1px black;*/
    margin: 5%;
    display: flex;
    flex-direction: row;
}

.dash-top-serv-card-text {
    /*border: solid 1px rgb(19, 8, 168);*/
    font-weight: 500;
    font-size: 16px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dash-selected-img {
    border: 10px solid #d0e1ec;
    border-radius: 10px;
}